body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container{
    max-width: 800px;
    margin: auto;
    background-color: #ffff;
    padding: 20px;
    border-radius: 10px;
}